tr button {    font-family: 'nexa';
    src: url('../assets/Nexa\ Bold.otf') format('truetype');
    

    background-color: rgb(38, 38, 38);
    color: #fff
}

.tabla {
    background-color: rgb(255, 255, 255);
}

.titulo {
    margin-top: 0.3%;
}
.boton {
    display:block;
    float: right;
}

.Galeria{
    display: flex;
    width: auto;
    height: 20em;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1em;
    
}


.Galeria img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.Galeria img:hover { 
    cursor: crosshair;
    width: 180px;
    opacity: 1;
    filter: contrast(120%);
}

.articulos {
    margin:1em;
}

i {
    margin-right: 1em;
}

.Partes h1, h4, h5{
    text-align: center;
    align-items: center;
}

h5{
    margin-top: 4px;
    margin-bottom: 14px;
}
.Partes button {
    display: block;
    margin: 0 auto;
}


@media screen and (max-width: 912px) {
    tr button {
        margin-left: 10em;
    }
}
