tr button {   

    background-color: rgb(38, 38, 38);
    color: #fff
}

.tabla {
    background-color: rgb(255, 255, 255);
}

.titulo {
    margin-top: 0.3%;
}
.boton {
    display:block;
    float: right;
    font-family: 'nexa';
    src: url('../assets/Nexa\ Bold.otf') format('truetype');
    color: white;
    background-color: black;
}

.pText {
    padding-bottom: 1%;
}
.Galeria{
    display: flex;
    
    width: auto;
    height: 25em;
    justify-content: left;
    margin: 0 auto;
    margin-bottom: 1em;
    
}


.Galeria img {
    width: 1em;
    flex-grow: 4;
    object-fit: cover;
    opacity: 0.78;
    transition: 1s ease;
}

.Galeria img:hover { 
    cursor: crosshair;
    width: 180px;
    opacity: 1;
    filter: contrast(125%);
    content: attr(tittle);
}

.articulos {
    margin:1em;
}

i {
    margin-right: 1em;
}

.Partes h1, h4, h5, #h3{
    text-align: center;
    align-items: center;
}

h5{
    margin-top: 4px;
    margin-bottom: 14px;
}
.Partes button {
    display: block;
    margin: 0 auto;
}


@media screen and (max-width: 912px) {
    tr button {
        margin-left: 10em;
    }
}
