
/* Fuente del texto */
@font-face {
    font-family: 'Nexa';
    src: url('../assets/Nexa\ Bold.otf') format('truetype');
}

/* Main styles */
.informacion {
    margin-top: 1%;
    width: auto;
}

.subtitulo {
    text-align: left;
    margin-top: 1%;
}

.titleservicio{
    text-align: center;
}

.textoinfo {
    margin-top: 1%;
    margin-bottom: 2%;
}

.Reglas {
    text-align: center;
}

.Normas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 1%;  
}

.Normas p {
    padding: 1%;  
}

.fotosg {
    text-align: center;
    text-decoration: dotted;
    margin-bottom: 1%;
}

.conjuntofotos{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box:nth-child(1) {
    grid-column-start: span 2;
}

.box:nth-child(4) {
    grid-column-start: span 2;
}

.lista {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: center;
}

.lista p {
    margin: 1% 0; 
    text-align: center;
}

.service-item,
.service-item2 {
    flex-basis: 45%; 
    margin: 1%;
}

/* Emojis styles */
.candadoe {
    color: rgb(157, 139, 22);
    text-align: center;
}

.wifie {
    color: rgb(0, 200, 255);
    text-align: center;
}

.duchae {
    color: rgb(70, 70, 70);
    text-align: center;
}

.areae {
    color: rgb(255, 147, 147);
    text-align: center;
}

.rayoe {
    color: rgb(66, 85, 255);
    text-align: center;
}

.maquinae {
    color: rgb(47, 99, 255);
    text-align: center;
}

.aguae {
    color: rgb(70, 70, 70);
    text-align: center;
}

.descansoe {
    color: rgb(17, 10, 158);
    text-align: center;
}

/* Footer styles */
.footer-page {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2%;  
}

.headBars {
    padding-top: 1%;
}

#icoHeader {
    width: 7%;  
}

#toggleMenu {
    display: none; 
}

/* Media queries for responsiveness */
@media screen and (max-width: 912px) {

    .footer-page {
        padding: 2%;  
    }
}

@media screen and (max-width: 600px) {
    header h1 {
        font-size: 7vw; 
    }
}
