
/* Fuente del texto */
@font-face {
    font-family: 'Nexa';
    src: url('../assets/Nexa\ Bold.otf') format('truetype');
}


/* Main styles */
.informacion {
    margin-top: 1%;
    width: auto;
}
.icon-text-container .services-h2 {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.icon-text-container .icon {
    font-size: 1.1vw;
    margin-right: 5px; /* Ajusta el margen entre el icono y el texto según sea necesario */
}


.textoinfo {
    margin-top: 1%;
    margin-bottom: 2%;
}

.Normas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 1%;  
}

.Normas p {
    padding: 1%;  
}

.fotosg {
    text-align: center;
    text-decoration: dotted;
    margin-bottom: 1%;
}

.Album{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    max-width: 100%;
    grid-template-rows: 25em;
    grid-gap: 3em;
    
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box:nth-child(1) {
    grid-column-start: span 2;
}

.box:nth-child(4) {
    grid-column-start: span 2;
}

.lista {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: center;
}

.lista p {
    margin: 1% 0; 
    text-align: center;
}

.service-item,
.service-item2 {
    flex-basis: 45%; 
    margin: 1%;
}

/* Emojis styles */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 52, 18);
    font-size: 1.5em;
}

/* Footer styles */
.headBars {
    padding-top: 1%;
}

#icoHeader {
    width: 7%;  
}

#toggleMenu {
    display: none; 
}

/* Media queries for responsiveness */
@media screen and (max-width: 912px) {

    
    .Album{
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    
        max-width: 90%;
        grid-template-rows: 15em;
        grid-gap: 0.4em;
        padding-bottom: 5%;
    }
    
}
