/* Reset default margin and padding */
body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Set font size and family */
@font-face {
    font-family: 'Nexa';
    src: url('../assets/Nexa\ Bold.otf') format('truetype');
}

body {
    font-family: 'Nexa', sans-serif;
    overflow-x: hidden;
}

/* Header style */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: block;
    flex-direction: column;
    text-align: center;
    width: 100%;
    position: static;
    top: 0;
}

header h1 {
    margin-bottom: 10px;
    text-shadow: 3px 2px 2px #9fd898;
    font-size: 3rem;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main styles */
.informacion {
    margin-top: 0.3%;
    width: auto;

}

.subtitulo {
    text-align: left;
    margin-top: 1%;
}

.textoinfo {
    margin-top: 1%;
    margin-bottom: 2%;
}

.Reglas {
    text-align: center;
}

.Normas {
    display: grid;
    grid-template-columns: auto auto; /* Crea dos columnas automáticas */
    grid-gap: 10px; /* Añade espacio entre las columnas */
    margin-right: -30%; /* Ajusta el margen derecho */
}

.Normas p {
    margin: 0;
    padding: 5px; /* Ajusta el espaciado */
}

.Foto{
border: 5px black solid;
width: 200px;
height: 250px;
float: right;
}

.lista {
    display: flex;
    align-items: center;
}

.lista p {
    margin-left: 1%;
}

.candadoe {
    color: rgb(157, 139, 22);
}

.wifie {
    color: rgb(0, 200, 255);
}

.duchae {
    color: rgb(70, 70, 70);
}

.areae {
    color: rgb(255, 147, 147);
}

.rayoe {
    color: rgb(225, 255, 0);
}

.maquinae {
    color: rgb(47, 99, 255);
}

.aguae {
    color: rgb(70, 70, 70);
}

.descansoe {
    color: rgb(17, 10, 158);
}


.service-item{
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}

.service-item2{
    float: right;
    margin-left: 2%;
    margin-right: 2%;
}

section {
    margin-bottom: 1.2rem;
    background-color: #f9f9f9;
    border-radius: 1.2rem;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.678);
    padding: 1.6rem;
}

/* Footer styles */
.footer-page {
    position: -ms-page;
    bottom: 0;
    background-color: #333;
    color: #000000;
    text-align: center;
    padding: 20px;
}

.headBars {
    padding-top: 1%;
}

#icoHeader {
    position: relative;
    position: +1;
    float: left;
    width: 7rem;
}

/* Estilo para ocultar la lista de elementos del menú */
#menuItems {
    display: none;
}

/* Estilo para mostrar la lista de elementos del menú cuando se expande */
#menuItems.active {
    display: block;
}

/* Estilo para el botón de hamburguesa */
#toggleMenu {
    display: block;
    background: rgb(83, 82, 82);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Media queries for responsiveness */
@media screen and (max-width: 912px) {

    /* Adjust header */
    header {
        width: auto;
    }

    body {
        overflow-x: hidden;
        /* Cambiado a 'hidden' para bloquear el desplazamiento horizontal */
    }

    .main-content {
        width: 100%;
    }

    header h1 {
        font-size: 24px;
    }

    nav ul li {
        margin-right: 10px;
    }

    /* Adjust main */
    main {
        padding: 10px;
    }

    section {
        margin-bottom: 10px;
    }

    .foot {
        width: 100%;
    }

    /* Adjust footer */
    .footer-page {
        position: -ms-page;
        bottom: 0;
        background-color: #333;
        color: #000000;
        text-align: center;
        padding: 20px;
    }

    .footertext {
        color: rgb(115, 243, 179);
    }
}

