/* Reset default margin and padding */
body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}


html {
    overflow-x: hidden;
}

/* Set font size and family */
@font-face {
    font-family: 'Nexa';
    src: url('../assets/Nexa\ Bold.otf') format('truetype');
}

body {
    font-family: 'Nexa', sans-serif;
    overflow-x: hidden;
}

.wrapped {
    position: 0;
}

/* Header style */
header {
    background-color: #333;
    color: #fff;
    
    display: block;
    flex-direction: column;
    text-align: center;

    width: 100%;

    padding: 1%; 
    position: static;
    top: 0;
}

header h1 {
    margin-bottom: 1%;  
    text-shadow: 3px 2px 2px #9fd898;
    text-align: center;
    font-size: 4em;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 2%;  
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    width: auto;

}

section {
    background-color: #f9f9f9;
    border-radius: 1.2rem;
    padding: 2%;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.678);
    margin: 1%;
}

/* Footer styles */
.footer-page {
    position: -ms-page;
    bottom: 0;
    background-color: #333;
    color: #000000;
    text-align: center;
}

#icoHeader {
    position: relative;
    float: left;
    width: 7rem;
}

/* Estilo para ocultar la lista de elementos del menú */
#menuItems {
    display: none;
}

/* Estilo para mostrar la lista de elementos del menú cuando se expande */
#menuItems.active {
    display: block;
}

/* Estilo para el botón de hamburguesa */
#toggleMenu {
    display: block;
    background: rgb(83, 82, 82);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#aboutUs{
    text-align: center;
}

#contactos{
    text-align: center;
}

/* Redes sociales */
.imagenes{
    height: 2.5em;
}

.lista-redes{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    align-items: center;
}

#titleRedes{
    text-align: center;
    padding-bottom: 2em;
}

/* Media queries for responsiveness */
@media screen and (max-width: 912px) {
    header h1 {
        font-size: 24px;
    }

    nav ul li {
        margin-right: 10px;
    }

    /* Adjust main */
    main {
        padding: 10px;
    }
    /* Adjust header */
    header {
        width: 100%;
    }

    body {
        overflow-x: hidden;
        /* Cambiado a 'hidden' para bloquear el desplazamiento horizontal */
    }

    main-content {
        width: 100%;
    }

    section {
        margin-bottom: 1em;
    }

    .foot {
        width: 100%;
    }

    /* Adjust footer */
    .footer-page {
        bottom: 0;
        background-color: #333;
        color: #ffffff;
        text-align: center;
        display: block;
        bottom: 50px;
    }

    .footertext {
        color: rgb(115, 243, 179);
    }
    .imagenes{
        height: 2.7em;
        padding: 1em;
    }
    
    .pStyle{
        text-align: center;
    }

    #title {
        text-shadow: 3px 2px 2px #9fd898;
        text-align: center;
        font-size: 2.6em;
    }
}