/* Reset default margin and padding */
body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

/* Set font size and family */
@font-face {
    font-family: 'Nexa';
    src: url('../assets/Nexa\ Bold.otf') format('truetype');
}

body {
    font-family: 'Nexa', sans-serif;
    overflow-x: hidden;
}

.wrapped {
    position: 0;
}

/* Header style */
header {
    background-color: #011f1ac9;
    color: #fff;
    display: block;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 1%; 
    position: static;
    top: 0;
}

header h1 {
    margin-bottom: 1%;  
    text-shadow: 3px 2px 2px #9fd898;
    text-align: center;
    font-size: 4em;
}
 
/* Lista de Páginas */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 2%;  
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-decoration: underline;
}

/*--------------------------*/

main {
    width: auto;
}

.headBars ul {
    list-style-type: none;
    padding: 0;
}

.headBars ul li {
    display: inline-block;
    margin-right: 20px;
}

.headBars ul li:last-child {
    margin-right: 0;
}

.headBars ul li a {
    text-decoration: none;
    color: #fff;
}

.headBars li:hover{
    color: #000000;
}

section {
    background-color: #f9f9f9;
    border-radius: 1.2rem;
    padding: 1%;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.678);
    margin: 1%;
}

/* Footer styles */
.footer-page {
    bottom: 0;
    background-color: #011f1aaf;
    color: #ffffff;
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 3em;
}

#icoHeader {
    position: relative;
    float: left;
    width: 7rem;
}

/* Estilo para ocultar la lista de elementos del menú */
#menuItems {
    display: none;
    display: block;
}

/* Estilo para el botón de hamburguesa */
#toggleMenu {
    display: block;
    background: rgb(78, 30, 30);
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#aboutUs{
    text-align: center;
}

#contactos{
    text-align: center;
}

/* Redes sociales */
.imagenes{
    width: 2.5em;
}

.imagenes:hover{
    cursor: crosshair;
    width: 2.6em;
    opacity: 1;
    filter: contrast(125%);
    content: attr(tittle);
}

.divs p{
    position: static;
}
.lista-redes{
    display: flex;
    flex-wrap: wrap; 
    padding: 1em;
    justify-content: space-around; 
    align-items: center;
}

#titleRedes{
    text-align: center;
    padding-bottom: 2em;
}

#home{
    padding: 0.9em;
}

#redes{
    font-size: large;
}

/* Footer styles */
.footer-page {
    background-color: #011f1aaf;
    color: #ffffff;
    text-align: left;
    padding: 3em;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-info {
    
    flex-basis: 18em;
    margin-bottom: 1.25em;
    text-align: left;
    width: auto;
}

.footer-info h4 {
    margin-bottom: 0.625em;
}

.footer-image {
    flex-grow: 1;
    display: flex;
    justify-content: right;
    margin-top: 1.25em;
}

.footer-image img {
    max-width: 100%;
    height: auto;
}

#info-Footer{
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgba(190, 236, 105, 0.459);
}

.copyright {
    margin-top: 20px;
}

@media screen and (max-width: 912px) {
    header h1 {
        font-size: 2.4em;
    }

    /* Adjust main */
    main {
        padding: 0.4em;
    }
    /* Adjust header */
    header {
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    body {
        overflow-x: hidden;
        /* Cambiado a 'hidden' para bloquear el desplazamiento horizontal */
    }

    main-content {
        width: 100%;
    }

    section {
        margin-bottom: 1em;
    }

    .foot {
        width: 100%;
    }

    /* Adjust footer */
    .footer-page {
        bottom: 0;
        background-color: #011f1aaf;
        color: #ffffff;
        text-align: center;
        display: block;
        bottom: 50px;
    }

    .footertext {
        color: rgb(115, 243, 179);
    }
    .imagenes{
        height: 2.7em;
        padding: 1em;
    }

    .footer-info {
        flex-basis: 100%; 
        justify-content: center;
    }

    .footer-image {
        margin-top: 0; 
        justify-content: center;
        
    }
}