h2,
p,
h3,
h5,
h4 {
    color: black;
}

/* Reset default margin and padding */
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: larger;
}

html {
    overflow-x: hidden !important;
}

/* Set font size and family */
@font-face {
    font-family: 'Nexa';
    src: url('../assets/Nexa\ Bold.otf') format('truetype');
}

body {
    font-family: 'Nexa', sans-serif;
    overflow-x: hidden;
}

/*-----------------------------------------------------------------*/

main {
    width: auto;
}

.icon-text-container .icon-text {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.icon {
    font-size: 1vw;
    margin-right: 5px;
}



section {
    background-color: #f9f9f9;
    border-radius: 0.3rem;
    padding: 1em;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.678);
    margin: 1%;
}

/* Footer styles */
.footer-page {
    bottom: 0;
    background-color: #011f1aaf;
    color: #ffffff;
    text-align: left;
    /* Alinea el texto a la izquierda */
    padding: 3em;
}

#icoHeader {
    position: relative;
    float: left;
    width: 7rem;
}

/* Estilo para ocultar la lista de elementos del menú */
#menuItems {
    display: none;
    display: block;
}

/* Estilo para el botón de hamburguesa */
#toggleMenu {
    display: block;
    background: rgb(78, 30, 30);
    border: none;
    font-size: 2vw;
    cursor: pointer;
}

.container-galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
}

.follow {
    text-align: center;
    padding-bottom: 1%;
}

#aboutUs,
#contactos,
.titleservicio,
.Reglas {
    text-align: left;
}


/* Redes sociales */
.imagenes {
    max-width: 2.4em;
    min-width: 0.5em;
}

.imagenes:hover {
    cursor: crosshair;
    width: 2.6em;
    opacity: 1;
    filter: contrast(125%);
    content: attr(tittle);
}

.pStyle {
    text-shadow: 1px 2px 3px #000000;
}

.lista-redes {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: space-around;
    align-items: center;
}

#titleRedes {
    text-align: center;
    padding-bottom: 2em;
}

#redes {
    font-size: large;
}

/* Footer styles */
.footer-page {
    background-color: #011f1aaf;
    color: #ffffff;
    text-align: left;
    padding: 3em;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-info {

    flex-basis: 18em;
    margin-bottom: 1.25em;
    text-align: left;
    width: auto;
}

.footer-info h4 {
    margin-bottom: 0.625em;
}

.footer-image {
    flex-grow: 1;
    display: flex;
    justify-content: right;
    margin-top: 1.25em;
}

.footer-image {
    max-width: 100%;
    height: auto;
}

#info-Footer {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgba(190, 236, 105, 0.459);
}

.copyright,
li {
    color: white;
    margin-top: 0.1em;
    text-align: left;
}

/* Social */
.Follow {
    text-align: center;
    font-size: 1.3vw;
    color: black;
    padding-bottom: 2%;
}

.card {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 1em;
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 0.3em;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .3s;
    margin: auto;
    /* Agregado para separar los contenedores */
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
}

/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}

/* Whatsapp*/
.containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 1.7em;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#iframeLocation {
    width: 100%;
}

/* Lavadora carga */

@media screen and (max-width: 912px) {
    header h1 {
        font-size: 2.4vw;
    }

    /* Adjust main */
    main {
        padding: 0.4em;
    }

    /* Adjust header */
    header {
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    body {
        overflow-x: hidden;
    }

    main-content {
        width: 100%;
    }

    section {
        margin-bottom: 1em;
    }

    .foot {
        width: 100%;
    }

    /* Adjust footer */
    .footer-page {
        bottom: 0;
        background-color: #011f1aaf;
        color: #ffffff;
        text-align: center;
        display: block;
        bottom: 50px;
    }

    .footertext {
        color: rgb(115, 243, 179);
    }

    .imagenes {
        min-width: 2em;
    }

    .footer-info {
        flex-basis: 100%;
        justify-content: center;
    }

    .footer-image {
        margin-top: 0;
        justify-content: center;

    }

    .divVideo {
        width: 1%;
        background-color: #ffffff;
        /* Ajusta el porcentaje según la relación de aspecto del video */
    }

    .iframeVideo {
        height: 100%;
    }
}

.divVideo {
    position: relative;
    width: 100%;
    padding-bottom: 30.25%;
    /* Esto es aproximadamente 16:9 aspect ratio */
}

.iframeVideo {
    position: absolute;
    left: 20%;
    right: 20%;
    width: 53.68%;
    height: 100%;
}





