/* Fuente del texto */
@font-face {
    font-family: 'Nexa';
    src: url('../assets/Nexa\ Bold.otf') format('truetype');
}

/* Footer styles */
.headBars {
    padding-top: 1%;
}

#icoHeader {
    width: 10%;
}

#toggleMenu {
    display: none;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: auto;
  }
  .form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #000000 solid;
    width: 100%;
    padding: 10px 0;
    font-size: 1vw;
    color: #000000;
  }
  
  .form-control input:focus,
  .form-control input:valid {
    outline: 0;
    border-bottom-color: rgb(116, 116, 116);
  }
  
  .form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
  }
  
  .form-control label span {
    display: inline-block;
    font-size: large;
    min-width: 5px;
    color: #353535;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .form-control input:focus+label span,
  .form-control input:valid+label span {
    color: rgba(0, 51, 7, 0.733);
    transform: translateY(-30px);
  }

button[type="submit"] {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1.5vw;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: changeColor 10s infinite;
}

@keyframes changeColor {
    0% {
        background-color: #729989;
    }

    25% {
        background-color: #245643;
    }

    50% {
        background-color: #0B2821;
    }

    75% {
        background-color: #47806B;
    }

    100% {
        background-color: #729989;
    }
}

/* Responsive styles */
@media (max-width: 768px) {
  button[type="submit"] {
    font-size: 4vw;
  }
}